*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  padding: 2rem;
}

input{
  width: 50%;
  font-size: 1.1rem;
  color: gray;
}

.card-container{
  display: flex;
  flex-wrap:wrap;
}

.card{
  align-content: center;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 gray;
  margin: 10px 10px 0 0px;
}

.card img{
  max-height: 150px;
}

.card p{
  padding: 5px;
  text-align: center;
}